[submodule "ext/lib-common-cpp"]
	path = ext/lib-common-cpp
	url = git@github.com:albrdev/lib-common-cpp.git
	branch = main
[submodule "ext/lib-text-cpp"]
	path = ext/lib-text-cpp
	url = git@github.com:albrdev/lib-text-cpp.git
	branch = main
