[submodule "ext/lib-text-cpp"]
	path = ext/lib-text-cpp
	url = https://github.com/albrdev/lib-text-cpp.git
	branch = master
[submodule "ext/lib-math-cpp"]
	path = ext/lib-math-cpp
	url = https://github.com/albrdev/lib-math-cpp.git
	branch = master
