[submodule "ext/lib-text-cpp"]
	path = ext/lib-text-cpp
	url = git@github.com:albrdev/lib-text-cpp.git
	branch = master
[submodule "ext/lib-math-cpp"]
	path = ext/lib-math-cpp
	url = git@github.com:albrdev/lib-math-cpp.git
	branch = master
